@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overscroll-behavior: none;
}

body {
  font-family: "Quicksand", system-ui, sans-serif;
}

* {
  -webkit-tap-highlight-color: transparent;
}

::selection {
  background: #ffd166;
}
